<div class="container">
    <div>
        <form (ngSubmit)="viewbooking()">
            <div>
                
            
                <input type="text" name="t3" [(ngModel)]="customer.cust_Id" class="form-control" placeholder="Confirm Your Customer Id">
              </div>
              <div>
                <br/> 
                    <input type="submit" value="Submit" class="btn btn-large btn-primary">
                  </div>
        </form>
    </div>

</div><br><br>
<div   >
<div *ngFor="let item of arr">
 <!-- <div *ngIf="item[5]" class="jumbotron jumbotron-fluid text-center" class="style"> -->
<div class="jumbotron jumbotron-fluid text-center" class="style">
   Booking Id : {{item[0]}}<br><br>
   Total Seats :{{item[1]}}<br><br>
   Total Fare:{{item[2]}}<br><br>
   Date of Booking:{{item[3]}}<br><br>
   Booking Status:{{item[4]}}

</div>
  
 
  <!-- </div> -->

  <div *ngIf="showMsg">
  {{message}}
  </div> 
  </div>
</div>